{% extends "base_blank.html" %}
{% block base_head %}
	{% if settings.DEBUG %}
	<script src="{{ url_for('static', filename='js/lib/mootools-core.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/lib/mootools-more.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/base.js') }}" type="text/javascript"></script>
	{% else %}
	<script src="{{ url_for('static', filename='js/lib/mootools.min.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/base.min.js') }}" type="text/javascript"></script>
	{% endif %}
{% endblock %}
