<!-- Important: include the page CSS before the JS -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/canvas_view.css') }}" type="text/css" />

{% if settings.DEBUG %}
<!--[if lte IE 8]>
<script src="{{ url_for('static', filename='js/excanvas.js') }}" type="text/javascript"></script>
<![endif]-->
<script src="{{ url_for('static', filename='js/canvas_view.js') }}" type="text/javascript"></script>
{% else %}
<!--[if lte IE 8]>
<script src="{{ url_for('static', filename='js/excanvas_yc.js') }}" type="text/javascript"></script>
<![endif]-->
<script src="{{ url_for('static', filename='js/canvas_view_yc.js') }}" type="text/javascript"></script>
{% endif %}

