{#
  An HTML fragment that describes the available image templates and ICC profiles,
  and the default settings in force on this server.

  Template variables:
    default_template - the system default template
    formats - the list supported image file types
    templates - the list supported image template names
    iccs - the list supported ICC profile names
    settings - the Flask application config
#}

<p>
	The following settings are active on your server. 
	Contact your system administrator if you require any of these values to be changed.
</p>

<h3>Default image settings</h3>
If your image request does not specify a particular image template, 
default image processing options will be sourced from the 
<code>{{ default_template.name() }}</code> template.  
This template applies the following settings:

{% set template=default_template %}
{% set template_show_blank=False %}
{% include "inc_template_ul.html" %}

<p>PDF files will be converted to images at <code>{{ settings.PDF_BURST_DPI }}</code> DPI by default.</p>

<h3>Public width and height limits</h3>
Public-facing images can optionally be restricted in size when requested by unknown, untrusted users.
<p>
{% if not settings.PUBLIC_MAX_IMAGE_WIDTH and not settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	Currently no limit is defined, and unknown users can access full versions of public-facing images.
{% elif settings.PUBLIC_MAX_IMAGE_WIDTH and settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	Currently unknown users will be denied image requests larger than
	width <code>{{ settings.PUBLIC_MAX_IMAGE_WIDTH }}</code>
	or height <code>{{ settings.PUBLIC_MAX_IMAGE_HEIGHT }}</code> pixels.
{% elif settings.PUBLIC_MAX_IMAGE_WIDTH %}
	Currently unknown users will be denied image requests with a width
	greater than <code>{{ settings.PUBLIC_MAX_IMAGE_WIDTH }}</code> pixels.
{% elif settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	Currently unknown users will be denied image requests with a height
	greater than <code>{{ settings.PUBLIC_MAX_IMAGE_HEIGHT }}</code> pixels.
{% endif %}
{% if settings.PUBLIC_MAX_IMAGE_WIDTH or settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	This setting is also used to default the image size when an unknown user
	requests an image without giving either a width or a height. Note that if
	an image template defines a size larger than the limit, the template takes
	precedence.
{% endif %}
</p>

<h3>Available image formats</h3>
The following image formats are available for you to use:
<p>
<code>
	{% if formats %}
		{{ formats|join(', ') }}
	{% else %}
		None
	{% endif %}
</code>
</p>

<h3>Available image templates</h3>
The following templates are available for you to use:
<p>
<code>
	{% if templates %}
		{{ templates|join(', ') }}
	{% else %}
		None
	{% endif %}
</code>
</p>

<h3>Available ICC profiles</h3>
The following ICC profiles are available for you to use:
{% for colorspace in iccs %}
	<p>
		<i>{{ colorspace }}:</i>&nbsp;&nbsp;
		<code>
			{{ iccs[colorspace]|join(', ') }}
		</code>
	</p>
{% else %}
	<code>
	None.
	</code>
{% endfor %}
