{#
  An HTML fragment that describes the available image templates and ICC profiles,
  and the default settings in force on this server.

  Template variables:
    formats - the list supported image file types
    templates - the list supported image template names
    iccs - the list supported ICC profile names
    settings - the Flask application config
#}

<p>
	The following settings are in force on your server. 
	Contact your system administrator if you require any of these values to be changed.
</p>

<h3>Public width and height limits</h3>
Public-facing images can optionally be restricted in size when requested by unknown, untrusted users.
<p>
{% if not settings.PUBLIC_MAX_IMAGE_WIDTH and not settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	Currently no limit is defined, and unknown users can access full versions of public-facing images.
{% elif settings.PUBLIC_MAX_IMAGE_WIDTH and settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	Currently unknown users will be denied image requests larger than
	width <code>{{ settings.PUBLIC_MAX_IMAGE_WIDTH }}</code>
	or height <code>{{ settings.PUBLIC_MAX_IMAGE_HEIGHT }}</code> pixels.
{% elif settings.PUBLIC_MAX_IMAGE_WIDTH %}
	Currently unknown users will be denied image requests with a width
	greater than <code>{{ settings.PUBLIC_MAX_IMAGE_WIDTH }}</code> pixels.
{% elif settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	Currently unknown users will be denied image requests with a height
	greater than <code>{{ settings.PUBLIC_MAX_IMAGE_HEIGHT }}</code> pixels.
{% endif %}
{% if settings.PUBLIC_MAX_IMAGE_WIDTH or settings.PUBLIC_MAX_IMAGE_HEIGHT %}
	This setting is also used to default the image size when an unknown user
	requests an image without giving either a width or a height. Note that if
	an image template defines a size larger than the limit, the template takes
	precedence.
{% endif %}
</p>

<h3>Default format</h3>
If you do not specify an image format, 
{% if settings.IMAGE_FORMAT_DEFAULT %}
	images will be returned as <code>{{ settings.IMAGE_FORMAT_DEFAULT }}</code> 
	{% if settings.IMAGE_FORMAT_DEFAULT in ['jpg', 'jpeg', 'pjpg', 'pjpeg', 'png'] %}
		with
		{% if settings.IMAGE_FORMAT_DEFAULT == 'png' %}compression{% else %}quality{% endif %}
		<code>{{ settings.IMAGE_QUALITY_DEFAULT }}</code>.
	{% else %}
		.
	{% endif %}
{% else %}
  images will be returned in their original format.
{% endif %}

<h3>Default DPI</h3>
If you do not specify a value for DPI,
{% if settings.IMAGE_DPI_DEFAULT %}
	images will be set to <code>{{ settings.IMAGE_DPI_DEFAULT }}</code> DPI.
{% else %}
	images will be returned with their DPI value unchanged.
{% endif %}
<p>PDF files will be converted to images at <code>{{ settings.PDF_BURST_DPI }}</code> DPI by default.</p>

<h3>Default strip</h3>
If you do not specify a value for strip, images will be 
{% if settings.IMAGE_STRIP_DEFAULT %}
	stripped of their comments and meta-data.
{% else %}
	returned with their comments and meta-data intact.
{% endif %}

<h3>Default colorspace</h3>
If you do not specify an ICC profile or a value for colorspace, images will be returned
{% if settings.IMAGE_COLORSPACE_DEFAULT %}
	with a colorspace of <code>{{ settings.IMAGE_COLORSPACE_DEFAULT|upper }}</code>.
{% else %}
	with their colorspace unchanged.
{% endif %}

<h3>Available image formats</h3>
The following image formats are available for you to use:
<p>
<code>
	{% for f in formats %}
		{{ f }}{% if not loop.last %}, {% endif %}
	{% else %}
		None
	{% endfor %}
</code>
</p>

<h3>Available image templates</h3>
The following templates are available for you to use:
<p>
<code>
	{% for t in templates %}
		{{ t }}{% if not loop.last %}, {% endif %}
	{% else %}
		None
	{% endfor %}
</code>
</p>

<h3>Available ICC profiles</h3>
The following ICC profiles are available for you to use:
{% for colorspace in iccs %}
	<p>
		<i>{{ colorspace }}:</i>&nbsp;&nbsp;{% if loop.last %}&nbsp;&nbsp;{% endif %}
		<code>
			{% for name in iccs[colorspace] %}
				{{ name }}{% if not loop.last %}, {% endif %}
			{% endfor %}
		</code>
	</p>
{% else %}
	<code>
	None.
	</code>
{% endfor %}
