{#
  An HTML fragment that generates the grid view of file and folder entries
  for a server directory.

  Template variables:
    directory_info - a DirectoryInfo object containing the server directory information
    vdisabled_attrs - a string of HTML attributes to add to an HTML element when view permission is denied
    pathsep         - the path separator character
    image_formats   - a list of viewable image file extensions
#}

		<!-- Grid view (marker: test suite looks for me) -->
		<div class="grid odd">

		{# Offer a Back link if this isn't the root directory #}
		{% if directory_info.parent_name() %}
			{% set back_url = url_for('browse', path=directory_info.parent_name()) %}
			<div class="grid-cell border even single-line">
				<a class="no-underline" href="{{ back_url }}">
					<img src="{{ url_for('static', filename='images/icon-back.png') }}" alt="Back"/>
				</a>
				(<a class="action" href="{{ back_url }}">back to parent folder</a>)
			</div>
		{% endif %}

		{# Loop over all directory items #}
		{% for entry in directory_info.contents() %}
			{% if entry.is_directory %}
				{% set sep = pathsep if directory_info.name() != pathsep else '' %}
				{% set sub_folder_path = directory_info.name() + sep + entry.filename %}
				{% set view_url = url_for('browse', path=sub_folder_path) %}
				{% set view_permitted = is_folder_permitted(sub_folder_path, FolderPermission.ACCESS_VIEW) %}

				<div id="{{ entry.filename }}" class="grid-cell border even directory">
					{% if view_permitted %}
					<a class="no-underline" href="{{ view_url }}">
						<img src="{{ url_for('static', filename='images/icon-folder.png') }}" alt="Folder" />
					</a>
					<div><a class="no-underline" href="{{ view_url }}">{{ entry.filename }}</a></div>
					{% else %}
					<img {{ vdisabled_attrs }} src="{{ url_for('static', filename='images/icon-folder.png') }}" alt="Folder" />
					<div {{ vdisabled_attrs }}>{{ entry.filename }}</div>
					{% endif %}
				</div>
			{% else %}
				{% set fpath = (directory_info.name() + pathsep) if directory_info.name() != pathsep else '' %}
				{% set thumb_url = url_for_thumbnail(src=fpath + entry.filename) %}
				{% set view_url = url_for('details', src=fpath + entry.filename) %}
				{% set can_view = entry.filename|fileextension in image_formats %}

				{% if can_view %}
				<div id="{{ entry.filename }}" class="grid-cell border even">
					<div class="image-placeholder">
						<a class="no-underline" href="{{ view_url }}">
						<img src="{{ thumb_url }}" />
						</a>
					</div>
					<div><a class="no-underline" href="{{ view_url }}">{{ entry.filename }}</a></div>
					<div class="float"><a class="no-underline" href="{{ view_url }}">{{ entry.modified|datetimeformat(True) }}</a></div>
					<div class="rfloat"><a class="no-underline" href="{{ view_url }}">{{ entry.size|filesizeformat }}</a></div>
				</div>
				{% else %}
				<div id="{{ entry.filename }}" class="grid-cell border even">
					<div class="image-placeholder">
						<img src="{{ url_for('static', filename='images/icon-file.png') }}" alt="File" />
					</div>
					<div>{{ entry.filename }}</div>
					<div class="float">{{ entry.modified|datetimeformat(True) }}</div>
					<div class="rfloat">{{ entry.size|filesizeformat }}</div>
				</div>
				{% endif %}
			{% endif %}
		{% endfor %}

		</div>
