{% extends "base_blank.html" %}

{% block copyright %}
<!-- 
	Document:      index.html
	Date started:  04 Apr 2011
	By:            Matt Fozard
	Purpose:       Quru Image Server index page
	Requires:      
	Copyright:     Quru Ltd (www.quru.com)
	
	Last Changed:  $Date$ $Rev$ by $Author$
	
	Notable modifications:
	Date       By    Details
	=========  ====  ============================================================
-->
{% endblock %}

{% block title %}About{% endblock %}

{% block body %}
	<div class="center">
		<h1>
			<img src="{{ url_for('static', filename='images/logo.gif') }}" />
			{{ about.__title__ }} v{{ about.__version__ }}
		</h1>
	</div>

	<p class="tall center">
		{{ app_edition() }} Edition<br>
		{% if settings.DEBUG %}
		* DEBUG MODE ENABLED *
		{% endif %}
	</p>

	<p class="tall center">
		{% if logged_in %}
		<a href="{{ url_for('browse') }}">Browse images</a><br>
		<a href="{{ url_for('overview_help') }}">System introduction</a><br>
		<a href="{{ url_for('about') }}">System information</a><br>
		{% else %}
		<a href="{{ url_for('login') }}">Sign in</a><br>
		{% endif %}
	</p>

	<br>
	<p class="tall center">
		About Quru Ltd - <a href="https://quru.com/">https://quru.com/</a><br>
		{{ about.__tag__ }} on quru.com - <a href="{{ about.__uri__ }}">{{ about.__uri__ }}</a><br>
	</p>

	<br>
	<p class="tall center">
		{{ about.__copyright__ }}<br>
		{% include "inc_license_text.html" %}
	</p>
{% endblock %}
