{% if embed %}{% extends "base_blank_js.html" %}{% else %}{% extends "base.html" %}{% endif %}

{% from "publish/inc_field_macros.html" import input, help with context %}

{% block copyright %}
<!-- 
	Document:      publish.html
	Date started:  29 Oct 2014
	By:            Matt Fozard
	Purpose:       Quru Image Server image publish wizard
	Requires:      MooTools Core
	               Lasso.Crop
	Copyright:     Quru Ltd (www.quru.com)
	
	Last Changed:  $Date$ $Rev$ by $Author$
	
	Notable modifications:
	Date       By    Details
	=========  ====  ============================================================
-->
{% endblock %}

{% block title %}Publish {{ src }}{% endblock %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/lib/github.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/publish.css') }}" type="text/css" />

	<script type="text/javascript">
		// Parameters to the Publisher JS
		var PublisherConfig = {
			max_width: {{ image_info.width|default('0') }},
			max_height: {{ image_info.height|default('0') }},
			
			default_format: '{{ settings.IMAGE_FORMAT_DEFAULT|lower }}',
			default_quality: {{ settings.IMAGE_QUALITY_DEFAULT }},
			default_colorspace: '{{ settings.IMAGE_COLORSPACE_DEFAULT|lower }}',
			default_dpi: {{ settings.IMAGE_DPI_DEFAULT }},
			default_strip: {{ settings.IMAGE_STRIP_DEFAULT|lower }},
			default_print_dpi: 600,
			
			external_server_url: '{{ external_url_for('index') }}',
			external_image_url: '{{ external_url_for('image') }}',
			external_static_url: '{{ external_url_for('static', filename='') }}',
			help_url: '{{ url_for('image_help', embed=1) }}',
			template_api_url: '{{ url_for('api.admin.template', template_id=0) }}',
			warn_icon_url: '{{ url_for('static', filename='images/icon-warning.png') }}'
		};

		// UI text for the Publisher JS
		var PublisherText = {
			// Templates
			'loading': 'Loading details...',
			'empty': 'Empty template',
			'format': 'File format',
			'align_h': 'Horizontal align',
			'align_v': 'Vertical align',
			'top': 'Cropping top',
			'left': 'Cropping left',
			'bottom': 'Cropping bottom',
			'right': 'Cropping right',
			'crop_fit': 'Cropping minimise padding',
			'size_fit': 'Prevent padding',
			'overlay_src': 'Overlay image',
			'overlay_pos': 'Overlay position',
			'overlay_size': 'Overlay size',
			'overlay_opacity': 'Overlay opacity',
			'icc_profile': 'Colour profile',
			'icc_intent': 'Colour profile intent',
			'icc_bpc': 'Black point compensation',
			'colorspace': 'Colour model',
			'dpi_x': 'DPI x',
			'dpi_y': 'DPI y',
			'expiry_secs': 'Browser cache time (seconds)',
			'attachment': 'Download instead of display',
			'record_stats': 'Count in statistics',
			// Warnings
			'warn_size': 'The image will not be enlarged beyond its original size',
			'warn_colorspace': 'Not all file formats support non-RGB colour',
			'warn_icc': 'Not all file formats support colour profiles',
			'warn_icc_colorspace': 'The selected colour profile is a different colour model',
			'warn_strip': 'This will also remove the embedded colour profile',
			'warn_strip_cmyk': 'CMYK images usually require a colour profile',
			'warn_transparency': 'Not all file formats support transparency'
		};
	</script>

	<script src="{{ url_for('static', filename='js/lib/highlight.pack.js') }}" type="text/javascript"></script>
	{% if settings.DEBUG %}
	<script src="{{ url_for('static', filename='js/lib/lassocrop.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/publish.js') }}" type="text/javascript"></script>
	{% else %}
	<script src="{{ url_for('static', filename='js/lib/lassocrop_yc.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/publish_yc.js') }}" type="text/javascript"></script>
	{% endif%}
{% endblock %}

{% block body %}

	{% if embed %}
		<div class="rfloat">
			<a id="close" href="#">Close</a>
		</div>
	{% endif %}
	
	<div class="publisher">
		<h2>Publish image {% if not embed %}<span>(<a href="{{ url_for('details', src=src) }}">back to image details</a>)</span>{% endif %}</h2>

		<div class="column">
			<h3>Template</h3>
			<fieldset class="subtlebg">
				<div>
					<label>Base on template:</label>
					{{ input(fields, field_values, 'template') }}   {# Note that input_template.html requires {{ template_list }} #}
					{{ help('option_tmp') }}
				</div>
				<div id="template_fields">
				</div>
			</fieldset>

			{% include "publish/inc_common_fields.html" %}
		</div>

		<div class="column sticky">
			<h3>Final image preview</h3>
			<div class="preview_container">
				<div id="preview_mask"><img src="{{ url_for('static', filename='images/icon-wait-invert.gif') }}" /></div>
				<div id="preview_error" class="error">Cannot show image preview</div>
				<img id="preview_image" src="{{ url_for('image', src=src, width=320, height=320, format='png', colorspace='srgb', autosizefit=1, stats=0) }}" />
			</div>
			<div class="clear"></div>

			<h3>Publish</h3>
			<fieldset class="subtlebg">
				<div>
					<label>Publish to file:</label>
					<button id="publish_download" data-url="">Download final image</button>
				</div>
				<div>
					<label>Publish to web:</label>
					<select id="publish_type">
						<option value="plain">Plain image URL</option>
						<option value="img_tag">HTML image tag, static</option>
						<option value="img_tag_zoom">HTML image tag, click to launch zoom</option>
						<option value="img_tag_gallery">HTML image tag, click to launch gallery</option>
						<option value="canvas_zoom">Embedded zoomable image</option>
					</select>
				</div>
				<pre><code id="publish_output"></code></pre>
			</fieldset>
		</div>

		<div class="clear"></div>
		{% include "inc_preview_popup.html" %}

		{# These are hidden until required by publish.js #}
		<div class="output_templates">
			<div id="output_template_plain">{% include "publish/output_plain.html" %}</div>
			<div id="output_template_img_tag">{% include "publish/output_img_tag.html" %}</div>
			<div id="output_template_img_tag_zoom">{% include "publish/output_img_tag_zoom.html" %}</div>
			<div id="output_template_img_tag_gallery">{% include "publish/output_img_tag_gallery.html" %}</div>
			<div id="output_template_canvas_zoom">{% include "publish/output_canvas_zoom.html" %}</div>
		</div>
	</div>
{% endblock %}
