# OS/Editor files
.DS_Store
.project
.pydevproject
.settings
.vscode
.#*
*~

# Virtualenv
.Python
bin
bin-2
bin-3
include
lib/python*
lib64

# Python/Pip files
.eggs
pip-selfcheck.json
*.egg
*.egg-info/
*.pyc
*.pyo

# Project files
conf/*.py
images/*
!images/test_images
images/test_images/.DS_Store
images/test_images/*.d
logs/*.log*

# Build/Testing files
.coverage
build
dist
src/coverage.xml
src/flake8.txt
src/junit.xml
