.settings
.eggs
.project
.pydevproject
.Python
.DS_Store
pip-selfcheck.json
*.pyc
*.pyo
*.o
*.so
*.a
*.swp
*.egg
*.egg-info/
nosetests.xml
conf/*.py
include
lib/python*
logs/*.log
logs/*.log.*
bin
./build
man
qismagick/src/Debug
qismagick/src/Release
qismagick/dist/
images/*
!images/test_images
images/test_images/.DS_Store
images/test_images/pdftest.pdf.d
.coverage
src/coverage.xml
.#*
#*
*~

