include conf/README
recursive-include deploy *
include doc/*
include icc/*.ic*
graft images/test_images
include licences/*
include logs/README
include templates/*.cfg
recursive-include src/imageserver *.css *.js *.png *.gif *.bmp *.ico *.jpg *.jpeg *.sass *.scss *.html *.htm *.txt
recursive-exclude src/tests *
include src/wsgi/*
