include conf/README
graft deploy
prune deploy/docker/ci-build-*
graft doc
prune doc/v*
graft icc
graft images/samples
prune images/test*
graft licences
include logs/README
recursive-include src/imageserver *.css *.js *.png *.gif *.bmp *.ico *.jpg *.jpeg *.svg *.sass *.scss *.html *.htm *.txt *.sh
recursive-include src/wsgi *
prune src/*.egg-info
include README.md
exclude MANIFEST.in
global-exclude .DS_Store
