/*
	Document:      demos.css
	Date started:  09 May 2012
	By:            Matt Fozard
	Purpose:       Quru Image Server demo pages CSS
	Requires:      base.css
	Copyright:     Quru Ltd (www.quru.com)
	Licence:

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see http://www.gnu.org/licenses/
	
	Last Changed:  $Date$ $Rev$ by $Author$
*/

/* Define the image zoomer container appearance */
.imageviewer {
	width: 400px;
	height: 400px;
	line-height: 400px;
}
.imageviewer canvas {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/* Overrides for the image zoomer container in full screen mode */
.imageviewer.fullscreen {
	border: none;
}
.imageviewer.fullscreen canvas {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Overrides for the full-screen mode background mask */
.fullscreen_mask {
}

/* Overrides for the image zoomer's help/description window */
.imageviewer .alertpanel {
}
