/*
	Document:      list.css
	Date started:  30 Jun 2011
	By:            Matt Fozard
	Purpose:       Quru Image Server file browsing CSS
	Requires:      base.css
	Copyright:     Quru Ltd (www.quru.com)
	Licence:

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see http://www.gnu.org/licenses/
	
	Last Changed:  $Date$ $Rev$ by $Author$
*/

td.icon {
	width: 20px;
}
td.user {
	width: 1em;
}
td.filesize {
	width: 7em;
	text-align: right;
}
td.filetime {
	width: 10em;
	text-align: right;
}

td.rank {
	width: 4em;
	text-align: center;
	padding-right: 2em;
}
td.count {
	text-align: right;
	padding-right: 2em;
}

.view_icons {
	margin-top: 0.5em;
}

.grid {
	/* Match the table styles used for list view */
	font-size: 95%;
	/* Emulate the blank first tr of the list view */
	margin-top: 2em;
}
.grid-row,
.grid-cell {
	/* Match the tr and td styles used for list view */
	vertical-align: top;
	line-height: 1.6;
	padding: 2px;
}
.grid-cell {
	display: inline-block;
	margin: 1em 0.5em 0.8em 1em;
	width: 200px;   /* expects preview image of 200x200 */
	height: 240px;  /* plus 40px for filename and info  */
	padding: 10px;
	overflow: hidden;
}
.grid-cell.single-line {
	line-height: 230px;
	text-align: center;
	vertical-align: middle;
}
.grid-cell.directory {
	text-align: center;
}
.grid-cell .image-placeholder {
	/* For thumbnails that are returned smaller than 200x200 */
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	vertical-align: middle;
	/* For all thumbnails */
	margin-bottom: 3px;
}
