/*
	Document:      playground.css
	Date started:  11 May 2018
	By:            Matt Fozard
	Purpose:       Quru Image Server imaging demo CSS
	Requires:      base.css
	Copyright:     Quru Ltd (www.quru.com)
	Licence:

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see http://www.gnu.org/licenses/
	
	Last Changed:  $Date$ $Rev$ by $Author$
*/

h2 {
	margin-top: 0px;
}

.column {
	width: 49.9%;
	float: left;
}

/* For browsers that support calc(), maximise the image preview width */

@media screen and (min-width: 78em) {     /* point at which 49.9% == control panel full width */
	.col1 { width: calc(43em);         }  /* control panel full width */
	.col2 { width: calc(99.9% - 43em); }  /* remainder of width */
}

/* Image selection area */

.scroller {
	box-sizing: border-box;
	width: 100%;
	height: 185px;
	white-space: nowrap;
	overflow: auto;
}
.pg_selection {
	max-height: 235px;
	transition: max-height 1s ease-out;
	overflow: hidden;
}
.pg_selection.selected {
	max-height: 0px;
	transition: max-height 1s ease-out;
}
.pg_selection ul {
	margin: 0;
	padding: 0;
}
.pg_selection li {
	display: inline-block;
	list-style-type: none;
}
.pg_selection a {
	border: none;
}
.pg_selection img {
	margin: 0.5em 0.6em 0.5em 0;
	width: 150px;
}
.pg_selection li:first-child img {
	margin-left: 0.6em;
}

.pg_main {
	margin-top: 1em;
	transition: margin-top 1s ease-out;
}
.pg_main.selected {
	margin-top: 0em;
	transition: margin-top 1s ease-out;
}

/* Image playground area */

.controls {
	margin-right: 2em;
}
.preview {
	position: relative;  /* Become parent for #wait_image position */
	text-align: center;
}

.controls label {
	display: inline-block;
	width: 10em;
	vertical-align: top;
	margin-top: 0.2em;
}
.controls button {
	width: 12em;
}
.controls fieldset label {
	margin: 0;
	font-size: 90%;
}
.controls fieldset input {
	vertical-align: top;
}

#wait_image {
	position: absolute;
	top: 45%;
	left: 45%;
	z-index: 1;
	background-color: white;
	visibility: hidden;
}
#preview_image {
	border: 1px dashed gray;
	max-width: 100%;
}
#preview_image.loading {
	opacity: 0.2;
}
