/*
	Document:      simple_view.css
	Date started:  16 May 2011
	By:            Matt Fozard
	Purpose:       Quru Image Server simple view API CSS
	Requires:      
	Copyright:     Quru Ltd (www.quru.com)
	Licence:

	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU Affero General Public License as published
	by the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU Affero General Public License for more details.

	You should have received a copy of the GNU Affero General Public License
	along with this program.  If not, see http://www.gnu.org/licenses/
*/

.imageviewer {
	overflow: hidden;
	text-align: center;
}

.imageviewer img {
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: middle;
	/* Prevent drag and select */
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    -webkit-user-drag: none;
       -moz-user-drag: none;
        -ms-user-drag: none;
         -o-user-drag: none;
            user-drag: none;    
}
