{#
  Defines the HTML for imaging fields common to the image publisher and the template administration screen.
  Requires inc_field_macros.html to be already included.
  Requires variable "fields" to be the output of ImageAttrs.validators() or TemplateAttrs.validators().
  Requires variable "field_values" to be a similar dictionary of initial values.
  Requires variable "supported_fields" to be a similar dictionary of image engine support (booleans).
  Set "include_units_tool" to include the sizing units tool.
  Set "include_crop_tool" to include the cropping tool.
#}

			<h3>Page</h3>
			<fieldset class="subtlebg">
				<div>
					<label {{ disp_class(supported_fields, 'page') }}>Page number</label>
					{{ input(fields, field_values, supported_fields, 'page') }}
					{{ help('option_page') }}
				</div>
			</fieldset>

			<h3>Size</h3>
			<fieldset class="subtlebg">
				{% if include_units_tool %}
				<div>
					<label>Sizing units</label>
					<select id="sizing_units" autocomplete="off">
						<option value="px">Pixels</option>
						<option value="mm">Millimetres</option>
						<option value="in">Inches</option>
					</select>
				</div>
				{% endif %}
				<div id="group_width">
					<label {{ disp_class(supported_fields, 'width') }}>Width</label>
					{{ input(fields, field_values, supported_fields, 'width') }}
					{{ help('option_width') }}
					<span class="field_default">
						{% if image_info and image_info.width %}
						Original: {{ image_info.width }} pixels
						{% endif %}
					</span>
				</div>
				<div id="group_height">
					<label {{ disp_class(supported_fields, 'height') }}>Height</label>
					{{ input(fields, field_values, supported_fields, 'height') }}
					{{ help('option_height', 'hidden') }}
					<span class="field_default">
						{% if image_info and image_info.height %}
						Original: {{ image_info.height }} pixels
						{% endif %}
					</span>
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'dpi_x') }}>DPI</label>
					{{ input(fields, field_values, supported_fields, 'dpi_x') }}
					{{ help('option_dpi') }}
				</div>
			</fieldset>

			<h3>Padding</h3>
			<fieldset class="subtlebg">
				<div>
					<label {{ disp_class(supported_fields, 'size_fit') }}>Prevent padding</label>
					{{ input(fields, field_values, supported_fields, 'size_fit') }}
					{{ help('option_autosizefit') }}
				</div>
				<div id="group_fill">
					<label {{ disp_class(supported_fields, 'fill') }}>Padding colour</label>
					{{ input(fields, field_values, supported_fields, 'fill') }}
					{{ help('option_fill') }}<br>
					<label></label>
					<input type="checkbox" name="autofill" id="publish_field_autofill"
					       class="publish_field" value="auto" autocomplete="off"
						   {% if field_values.fill == 'auto' %}checked{% endif %}
						   {% if not supported_fields['fill'] %}disabled{% endif %}>
					       <label for="publish_field_autofill">auto</label><br>
					<label></label>
					<input type="checkbox" name="transfill" id="publish_field_transfill"
					       class="publish_field" value="none" autocomplete="off"
						   {% if field_values.fill == 'none' %}checked{% endif %}
						   {% if not supported_fields['fill'] %}disabled{% endif %}>
					       <label for="publish_field_transfill">transparent</label>
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'align_h') }}>Image position</label>
					{{ input(fields, field_values, supported_fields, "align_h") }}
					{{ help('option_halign') }}
				</div>
				<div>
					<label></label>
					{{ input(fields, field_values, supported_fields, "align_v") }}
				</div>
			</fieldset>

			<h3>Image processing</h3>
			<fieldset class="subtlebg">
				<div>
					<label {{ disp_class(supported_fields, 'flip') }}>Flip image</label>
					{{ input(fields, field_values, supported_fields, 'flip') }}
					{{ help('option_flip') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'rotation') }}>Rotate image</label>
					{{ input(fields, field_values, supported_fields, "rotation") }}
					{{ help('option_angle') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'sharpen') }}>Sharpen / blur</label>
					{{ input(fields, field_values, supported_fields, "sharpen") }}
					{{ help('option_sharpen') }}
				</div>
			</fieldset>
			
			<h3>Cropping</h3>
			{% if include_crop_tool %}
			<div class="crop_container">
				<img id="crop_image" src="{{ url_for('image', src=src, width=320, height=320, format='png', colorspace='srgb', autosizefit=1, stats=0) }}" />
			</div>
			{% endif %}
			<fieldset class="subtlebg">
				{% if include_crop_tool %}
				<div>
					<label>Current aspect ratio</label>
					<span id="crop_aspect">&ndash;</span>
				</div>
				<div>
					<label>Fix aspect ratio</label>
					<select id="crop_fix_aspect" autocomplete="off">
						<option value="">None</option>
						<option value="1:1">1:1 (square)</option>
						<option value="4:3">4:3 (landscape)</option>
						<option value="3:4">3:4 (portrait)</option>
						<option value="16:9">16:9 (landscape)</option>
						<option value="9:16">9:16 (portrait)</option>
					</select>
				</div>
				{% endif %}
				<div>
					<label {{ disp_class(supported_fields, 'left') }}>Left</label>
					{{ input(fields, field_values, supported_fields, 'left') }}
					{{ help('option_top') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'top') }}>Top</label>
					{{ input(fields, field_values, supported_fields, 'top') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'right') }}>Right</label>
					{{ input(fields, field_values, supported_fields, 'right') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'bottom') }}>Bottom</label>
					{{ input(fields, field_values, supported_fields, 'bottom') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'crop_fit') }}>Minimise padding</label>
					{{ input(fields, field_values, supported_fields, 'crop_fit') }}
					{{ help('option_autocropfit') }}
				</div>
			</fieldset>
			
			<h3>Overlay / Watermark</h3>
			<fieldset class="subtlebg">
				<div>
					<label {{ disp_class(supported_fields, 'overlay_src') }}>Overlay image</label>
					{{ input(fields, field_values, supported_fields, 'overlay_src', '/path/to/your-image.jpg') }}
					<button id="overlay_src_browse"
					        type="button"
							data-browse-url="{{ url_for('folder_browse', path=path, embed=1, show_files=1, msg='Select the overlay image file:') }}"
							{% if not supported_fields['overlay_src'] %}disabled{% endif %}
					        >Browse...</button>
					{{ help('option_overlay') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'overlay_size') }}>Relative size</label>
					{{ input(fields, field_values, supported_fields, "overlay_size") }}
					{{ help('option_ovsize') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'overlay_pos') }}>Position</label>
					{{ input(fields, field_values, supported_fields, "overlay_pos") }}
					{{ help('option_ovpos') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'overlay_opacity') }}>Opacity</label>
					{{ input(fields, field_values, supported_fields, "overlay_opacity") }}
					{{ help('option_ovopacity') }}
				</div>
			</fieldset>

			<h3>Colour processing</h3>
			<fieldset class="subtlebg">
				<div id="group_icc">
					<label {{ disp_class(supported_fields, 'icc_profile') }}>Colour profile</label>
					{{ input(fields, field_values, supported_fields, "icc_profile") }}
					{{ help('option_icc') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'icc_intent') }}>Intent</label>
					{{ input(fields, field_values, supported_fields, "icc_intent") }}
					{{ help('option_intent') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'icc_bpc') }}>Black point compensation</label>
					{{ input(fields, field_values, supported_fields, "icc_bpc") }}
					{{ help('option_bpc') }}
				</div>
			</fieldset>

			<h3>File options</h3>
			<fieldset class="subtlebg">
				<div id="group_strip">
					<label {{ disp_class(supported_fields, 'strip') }}>Strip meta-data</label>
					{{ input(fields, field_values, supported_fields, "strip") }}
					{{ help('option_strip') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'format') }}>File format</label>
					{{ input(fields, field_values, supported_fields, "format") }}
					{{ help('option_format') }}
				</div>
				<div>
					<label {{ disp_class(supported_fields, 'quality') }}>JPG quality /<br/>PNG compression</label>
					{{ input(fields, field_values, supported_fields, "quality") }}
					{{ help('option_quality') }}
				</div>
				<div id="group_colorspace">
					<label {{ disp_class(supported_fields, 'colorspace') }}>Colour model</label>
					{{ input(fields, field_values, supported_fields, "colorspace") }}
					{{ help('option_colorspace') }}
				</div>
			</fieldset>
			
			<h3>Browser handling options</h3>
			<fieldset class="subtlebg">
				<div>
					<label>Download file instead of displaying image</label>
					{{ input(fields, field_values, supported_fields, 'attachment') }}
					{{ help('option_attach') }}
				</div>
				<div>
					<label>Count requests in server statistics</label>
					{{ input(fields, field_values, supported_fields, 'record_stats') }}
					{{ help('option_stats') }}
				</div>
			</fieldset>
