<select name="{{ web_name }}" id="publish_field_{{ key }}" class="publish_field" autocomplete="off">
	{% if validator.edge_choices|join == 'lcr' %}
	<option value="L0"    {% if default == 'l0' %}selected{% endif %}>Left</option>
	<option value="L0.25" {% if default == 'l0.25' %}selected{% endif %}>Left edge at 25%</option>
	<option value="L0.5"  {% if default == 'l0.5' %}selected{% endif %}>Left edge at 50%</option>
	<option value="C0.25" {% if default == 'c0.25' %}selected{% endif %}>Centre at 25%</option>
	<option value="C0.5"  {% if default == 'c0.5' or not default %}selected{% endif %}>Centre</option>
	<option value="C0.75" {% if default == 'c0.75' %}selected{% endif %}>Centre at 75%</option>
	<option value="R0.5"  {% if default == 'r0.5' %}selected{% endif %}>Right edge at 50%</option>
	<option value="R0.75" {% if default == 'r0.75' %}selected{% endif %}>Right edge at 75%</option>
	<option value="R1"    {% if default == 'r1' %}selected{% endif %}>Right</option>
	{% endif %}
	{% if validator.edge_choices|join == 'tcb' %}
	<option value="T0"    {% if default == 't0' %}selected{% endif %}>Top</option>
	<option value="T0.25" {% if default == 't0.25' %}selected{% endif %}>Top edge at 25%</option>
	<option value="T0.5"  {% if default == 't0.5' %}selected{% endif %}>Top edge at 50%</option>
	<option value="C0.25" {% if default == 'c0.25' %}selected{% endif %}>Middle at 25%</option>
	<option value="C0.5"  {% if default == 'c0.5' or not default %}selected{% endif %}>Middle</option>
	<option value="C0.75" {% if default == 'c0.75' %}selected{% endif %}>Middle at 75%</option>
	<option value="B0.5"  {% if default == 'b0.5' %}selected{% endif %}>Bottom edge at 50%</option>
	<option value="B0.75" {% if default == 'b0.75' %}selected{% endif %}>Bottom edge at 75%</option>
	<option value="B1"    {% if default == 'b1' %}selected{% endif %}>Bottom</option>
	{% endif %}
</select>
