<select name="{{ web_name }}_choices" id="publish_field_{{ key }}_choices" autocomplete="off">
	<option value=""    {% if not default %}selected{% endif %}></option>
	<option value="0.1" {% if default == '0.1' %}selected{% endif %}>10%</option>
	<option value="0.2" {% if default == '0.2' %}selected{% endif %}>20%</option>
	<option value="0.3" {% if default == '0.3' %}selected{% endif %}>30%</option>
	<option value="0.4" {% if default == '0.4' %}selected{% endif %}>40%</option>
	<option value="0.5" {% if default == '0.5' %}selected{% endif %}>50%</option>
	<option value="0.6" {% if default == '0.6' %}selected{% endif %}>60%</option>
	<option value="0.7" {% if default == '0.7' %}selected{% endif %}>70%</option>
	<option value="0.8" {% if default == '0.8' %}selected{% endif %}>80%</option>
	<option value="0.9" {% if default == '0.9' %}selected{% endif %}>90%</option>
	<option value="1"   {% if default == '1' %}selected{% endif %}>100%</option>
</select>
{% include "publish/input_RealRangeValidator.html" %}
{% include "publish/input_helper_js.html" %}
