{# This is a publisher output template.
   Escape HTML so that it doesn't run when embedded in the host page.
   Use {varname} for variable substitution.
#}
<!-- These lines need to go into your HTML &lt;head&gt; section -->
&lt;link type="text/css" rel="stylesheet" href="{static_url}styles/canvas_view.css"&gt;
&lt;script type="text/javascript" src="{static_url}js/lib/mootools.min.js"&gt;&lt;/script&gt;
&lt;script type="text/javascript" src="{static_url}js/canvas_view.min.js"&gt;&lt;/script&gt;

<!-- This line defines the image and can go anywhere in your HTML &lt;body&gt; section -->
&lt;img class="click-to-zoom" src="{image_url}"&gt;

<!-- This script should go at the end of your HTML file -->
&lt;script type="text/javascript"&gt;
	/* Add click handler to all images with the 'click-to-zoom' class. See the API documentation for further options. */
	canvas_view_init_all_images('click-to-zoom');
&lt;/script&gt;
