# QIS Python Requirements
Flask==0.10.1
python-ldap>=2.4.13
pylibmc==1.4.2
psycopg2==2.5.5
SQLAlchemy==0.9.10
requests==2.5.1
psutil==2.2.1
itsdangerous==0.24
importlib
markdown==2.6.2

# Additional requirements for setup / unit tests
#wheel
#nose
#coverage
#mock
#unittest2
