{% extends "admin_base.html" %}

{% block copyright %}
<!-- 
	Document:      admin_group_list.html
	Date started:  31 Oct 2012
	By:            Matt Fozard
	Purpose:       Quru Image Server Administration - group list
	Requires:      
	Copyright:     Quru Ltd (www.quru.com)
	
	Last Changed:  $Date$ $Rev$ by $Author$
	
	Notable modifications:
	Date       By    Details
	=========  ====  ============================================================
-->
{% endblock %}

{% set body_id = 'group_list' %}
{% set page_heading = 'Groups' %}

{% block body %}
	{{ super() }}
	<div class="smalltext">
		{{ groups|length }} group{{ groups|length|pluralize }}
		{% if is_permitted(SystemPermission.PERMIT_ADMIN_PERMISSIONS) %}
		(<a class="popuplink" href="{{ url_for('admin.group_edit', group_id=0, embed=1) }}">add a new group</a>)
		{% endif %}
	</div>

	<p>
		Groups are used for image access control and the granting of permissions to users.
		This is achieved in 2 ways. Firstly, each group contains a number of optional
		check boxes that grant its members the ability to use certain system or
		administration functions. Secondly, the ability to control whether images can be
		viewed, uploaded, changed or deleted, is controlled by setting an access level in
		the <a href="{{ url_for('admin.folder_permissions') }}">folder permissions area</a>
		for an <em>image folder and group</em> pair.
	</p>
	<p>
		There are 3 built-in groups that cannot be deleted (though you can rename them
		and change them if you wish). The <em>Administrators</em> group is pre-configured
		to grant full system access to its members. Only an existing administrator can
		make another user a member of <em>Administrators</em>. The <em>Normal Users</em> group
		acts as a standard group that every internal user belongs to. When a new user account
		is created it is automatically added into <em>Normal Users</em>.
		Lastly the <em>Public</em> group is a virtual group that represents anonymous users
		- those who are not logged in to the image server. The <em>Public</em> group does
		not have a list of members and does not define any system permissions (they are
		all set to <em>deny</em>). However the <em>Public</em> group plays a very important
		role in setting the <a href="{{ url_for('admin.folder_permissions') }}">folder permissions</a>,
		where it is used to control whether or not images are visible to the public.
	</p>

	<table class="list_table" summary="Listing of {{ page_heading }}">

		{% set row_class = cycler('even', 'odd') %}
		<tr class="{{ row_class.next() }} header">
			<td>Name</td>
			<td>Description</td>
			<td>Action</td>
		</tr>

		{% for group in groups %}
		{% set edit_url = url_for('admin.group_edit', group_id=group.id, embed=1) %}

		<tr class="{{ row_class.next() }}">
			<td><a class="popuplink" href="{{ edit_url }}">{{ group.name }}</a></td>
			<td><a class="popuplink" href="{{ edit_url }}">{{ group.description }}</a></td>
			<td>
				{% if is_permitted(SystemPermission.PERMIT_ADMIN_PERMISSIONS) and
				      group.group_type != GROUP_TYPE_SYSTEM %}
				<form id="delform_{{ group.id }}" class="delform" action="{{ url_for('api.admin-group', group_id=group.id) }}" _method="delete">
					<input type="hidden" name="del_name" value="{{ group.name }}" />
					(<a class="action" href="#" onclick="return submitParentForm(this)">delete</a>)
				</form>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}
