{#
  A generic HTML fragment that can be included to embed a user selector.
  
  Template variables:
    user_list - the full list of user objects
    user - an optional current user (to select by default)
    select_message - an optional "Select a user" message
#}

<select id="select_user_id">
{% if select_message %}
	<option value="0">{{ select_message }}</option>
{% endif %}
{% for u in user_list %}
	{% set sel = 'selected="selected"' if user and user.id == u.id else '' %}
	<option value="{{ u.id }}" {{ sel|safe }} title="{{ u.email }}">{{ u.username }} ({{ u.get_full_name() }})</option>
{% endfor %}
</select>
